.menubar {
	position: relative;
	tet-align: center;
	height: 50px;
	text-align: center;
	min-width: 840px;
	margin-bottom: 30px;
	margin-top: 60px;
	white-space: nowrap;
}

.menuitem {
	display: inline-block;
	width: 160px;
	height: 24px;
	padding: 13px;
	overflow: hidden;
	margin: 0px;
	text-align: center;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0px 0px 5px 5px rgba(225, 225, 225, 1);
	box-shadow: 0px 0px 5px 5px rgba(225, 225, 225, 1); 
	cursor: pointer;
}

.seperator {
	display: inline-block;
	overflow: hidden;
	width: 5px;
	height: 24px;
	padding-top: 13px;
	padding-bottom: 13px;
	margin-left: -4px;
	margin-right: -4px;
	text-align: center;
	background: rgb(225,225,225); /* Old browsers */
}

.menuitem:hover {
	color: red;
}

.menuitem:active {
	background: rgb(200,200,200); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(200,200,200,1) 0%, rgba(115,115,115,1) 50%, rgba(110,110,110,1) 51%, rgba(200,200,200,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,200,200,1)), color-stop(50%,rgba(115,115,115,1)), color-stop(51%,rgba(110,110,110,1)), color-stop(100%,rgba(200,200,200,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(200,200,200,1) 0%,rgba(115,115,115,1) 50%,rgba(110,110,110,1) 51%,rgba(200,200,200,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(200,200,200,1) 0%,rgba(115,115,115,1) 50%,rgba(110,110,110,1) 51%,rgba(200,200,200,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(200,200,200,1) 0%,rgba(115,115,115,1) 50%,rgba(110,110,110,1) 51%,rgba(200,200,200,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(200,200,200,1) 0%,rgba(115,115,115,1) 50%,rgba(110,110,110,1) 51%,rgba(200,200,200,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#c8c8c8',GradientType=0 ); /* IE6-9 */
	
}

.menuitem:first-child {
	-webkit-border-bottom-left-radius: 8px;
	border-bottom-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
}

.menuitem:last-child {
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
}